<!DOCTYPE html>
<html>
<head>
    <title>Upload Images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Upload Image</h1>
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <label for="username">Enter Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="files">Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="files">Select Image:</label>
            <input type="file" name="file" id="file" accept=".jpg" required>
            
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
</html>
